header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.filters .rangePrices {
    display: flex;
    gap: 1rem;
}

.filters .rangePrices .priceValue {
    margin-top: 14px;
}

.products ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px,1fr) );
    gap: 1rem;
    
}

.product {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.product img {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    margin: 5px; 
}

.addCart{
  background-color: rgb(54, 141, 223);
}
.product-actions {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
}
.input-units{
  width: 30%;
  position: relative;
}

.removeCart {
  background-color: rgb(241, 150, 14);
}

.no-products {
    display: flex;
    justify-content: center;
}

.cart-button {
    position: fixed;
    left: -10px;
    top: 100px;
    background: rgb(26, 26, 68);
    color: white;
    border: 1px solid;
    cursor: pointer;
    z-index: 1000;
    border-radius: 10%;
    transition: left 0.3s ease;
  }
  .cart-button.open {
    left: 300px;
    color: rgb(212, 226, 151);
    border: 1px solid white;
  }
  .cart-sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background: rgb(26, 26, 68);
    box-shadow: 2px 0 5px rgb(18, 18, 43);
    transition: left 0.3s ease;
    z-index: 1001;
    overflow-y: scroll;
    scroll-behavior: smooth;
    --scrollbar-thumb: #2d485f;
    scrollbar-width: thin;
  }

  .cart-sidebar.open {
    left: 0;
    padding-left: 10px;
  }

  .cart-sidebar .content-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cart-sidebar .content-cart h3{
    color: rgb(241, 243, 233);
    font-size: small;
  }

  .cart-sidebar .content-cart img {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    margin: 5px; 
}
.content-cart .product-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 10%;
    margin-bottom: 5px;
    list-style: none;
    width: 90%;
}